<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.DASHBOARD_VIEW))
            {
                <li class="treeview">
                    <a href="/">
                        <i class="icon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
            }
            @if (ViewBag.Features.Contains("karma-reward") || ViewBag.Features.Contains("karma-moderate") || ViewBag.Features.Contains("karma-leader-board"))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="icon-diamond"></i>
                        <span>Karma Points</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_REWARD))
                        {
                            <li><a href="/karma/reward-points">Reward Points</a></li>
                        }
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_MODERATE))
                        {
                            <li><a href="/karma/rewarded-points">Rewarded Points</a></li>
                        }
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_LEADER_BOARD))
                        {
                            <li><a href="/karma/leader-board">Leader Board</a></li>
                        }
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_MY_ACCOUNT))
                        {
                            <li><a href="/karma/my-account">My Account</a></li>
                        }
                    </ul>
                </li>
            }
            @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.USER_ADD) || ViewBag.Features.Contains(KarmaRewards.Web.Claims.USER_MANAGE))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="icon-user"></i>
                        <span>Access Control</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.USER_ADD))
                        {
                            <li><a href="/user/add">Add User</a></li>
                        }
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.USER_MANAGE))
                        {
                            <li><a href="/user/manage">Manage User</a></li>
                        }
                    </ul>
                </li>
            }
            @if (false)
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="icon-settings"></i>
                        <span>Settings</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="ui_general.html">General Components</a></li>
                    </ul>
                </li>
            }
        </ul>
    </section>
</aside>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            if (!_.isEmpty(karma.nav.primary))
                $('a:contains("' + karma.nav.primary + '")', $('.main-sidebar')).parent().addClass('active');
            if (!_.isEmpty(karma.nav.secondary))
                $('a:contains("' + karma.nav.secondary + '")', $('.main-sidebar')).parent().addClass('active');
        }, 0);
    });
</script>
