<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            @if (ViewBag.Features.Contains("dashboard-view"))
            {
                <li class="treeview">
                    <a href="/">
                        <i class="icon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
            }
            @if (ViewBag.Features.Contains("karma-reward") || ViewBag.Features.Contains("karma-moderate") || ViewBag.Features.Contains("karma-leader-board"))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="icon-diamond"></i>
                        <span>Karma Points</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (ViewBag.Features.Contains("karma-reward"))
                        {
                            <li><a href="../layout/top-nav.html">Reward Points</a></li>
                        }
                        @if (ViewBag.Features.Contains("karma-moderate"))
                        {
                            <li><a href="../layout/boxed.html">Moderate Points</a></li>
                        }
                        @if (ViewBag.Features.Contains("karma-leader-board"))
                        {
                            <li><a href="../layout/fixed.html">Leader Board</a></li>
                        }
                    </ul>
                </li>
            }
            @if (ViewBag.Features.Contains("user-add") || ViewBag.Features.Contains("user-manage"))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="icon-user"></i>
                        <span>Access Control</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (ViewBag.Features.Contains("user-add"))
                        {
                            <li><a href="/user/add">Add User</a></li>
                        }
                        @if (ViewBag.Features.Contains("user-manage"))
                        {
                            <li><a href="/user/manage">Manage User</a></li>
                        }
                    </ul>
                </li>
            }
            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon-settings"></i>
                    <span>Settings</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="ui_general.html">General Components</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            if (_.isEmpty(hfl.nav.primary)) return;
            $('a:contains("' + hfl.nav.primary + '")', $('.main-sidebar')).parent().addClass('active');
            $('a:contains("' + hfl.nav.secondary + '")', $('.main-sidebar')).parent().addClass('active');
        }, 0);
    });
</script>
