@{
    Layout = null;
}
﻿<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>HuntersForLuck - Access denied!</title>

    <!-- ******** Styles ************* -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,...' rel='stylesheet' type='text/css'>
    @System.Web.Optimization.Styles.Render("~/resources/css/primary")

    <link href="~/Resources/pages/error.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="~/Resources/images/favicon.ico">
</head>
<body class="page-500-full-page" cz-shortcut-listen="true">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class="number">
                403
            </div>
            <div class="details">
                <h3>Access denied.</h3>
                <p>It seems you don't have access to the accessed resource.</p>
                <p>Please contact your administrator.</p>
            </div>
        </div>
    </div>
</body>
</html>
