@{
    Layout = null;
}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Karma Reward System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!--  ******** Styles ************* -->
    <link rel="shortcut icon" href="~/Resources/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    @System.Web.Optimization.Styles.Render("~/resources/css/primary")

    <!--  ******** JS Libs ************* -->

    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/primary")
</head>
<body class="skin-blue">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content" style="padding-top: 60px;">
                <div class="error-page">
                    <h2 class="headline text-yellow margin0-top">404</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-yellow margin10-right margin20-top"></i>Oops! Page not found.</h3>
                        <p class="margin0-bottom">
                            We could not find the page you were looking for.
                        </p>
                        <p>
                            You may <a href='/'>return to dashboard</a>.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
