@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section customjs{
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/grid-lib")
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/user-manage")
}

@RenderPage("~/Views/Shared/_GridView.cshtml")

<section class="content-header">
    <h1>Karma Points
            <small>Reward Points</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Leader Board</h3>
                </div>
                <div class="box-body">
                    <div>Showing top 10 users, who earned most of Karma Points. <a href="/karma/leader-board">View Full List.</a></div>
                    <div id="divLeaderBoard" class="grid-container"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Upcoming Birthdays</h3>
                </div>
                <div class="box-body">
                    <div>Showing top 10 users, who's birthdays are coming soon.</div>
                    <div id="divBirthday" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var $container = $('#divLeaderBoard'),
                 args = {
                     allowGlobalSearch: false,
                     allowFilters: false,
                     sorting: {
                         sortBy: '$total_points',
                         ascending: false
                     },
                     filter: {
                         excludeZeroPoints: true
                     },
                     grid: {
                         allowDetails: false,
                         allowSelect: false,
                         allowGroupSelect: false,
                         showPaging: false,
                         columns: [
                             {
                                 dName: 'Employee Name',
                                 binding: 'name',
                                 property: 'firstname',
                                 allowSort: false,
                                 style: ''
                             }, {
                                 dName: 'Points',
                                 binding: 'total_points',
                                 property: '$total_points',
                                 allowSort: false,
                                 style: 'width: 80px'
                             }]
                     }
                 };

        new karma.Views.UserListView(args).render($container);

        var $container = $('#divBirthday'),
                 args = {
                     allowGlobalSearch: false,
                     allowFilters: false,
                     sorting: {
                         sortBy: 'birth_days',
                         ascending: true
                     },
                     filter: {
                         excludeNoBirthDay: true
                     },
                     grid: {
                         allowDetails: false,
                         allowSelect: false,
                         allowGroupSelect: false,
                         showPaging: false,
                         columns: [
                             {
                                 dName: 'Name',
                                 binding: 'name',
                                 property: 'firstname',
                                 allowSort: false,
                                 style: ''
                             }, {
                                 dName: 'Birth Day',
                                 binding: 'birth_day',
                                 property: 'birth_days',
                                 allowSort: false,
                                 style: 'width: 160px',
                                 format: 'DD-MMM-YYYY',
                                 type: 'date'
                             }]
                     }
                 };

        new karma.Views.UserListView(args).render($container);
    });
</script>
