@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section customjs{
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/grid-lib")
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/user-manage")
}

@RenderPage("~/Views/Shared/_GridView.cshtml")

<section class="content-header">
    <h1>Access Control
            <small>Manage User</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="leader-board-container"></div>
        </div>
    </div>
</section>
<script id="tmplUserListDetailsRow" type="text/template">
    <div class="inner-table-container">
        <table class="inner-table width100">
            <tr>
                <td width="5%"><strong class="no-wrap">User Name</strong></td>
                <td class="pre-line">{{username}}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td><strong class="no-wrap">Gender</strong></td>
                <td>{{#xif "this.gender == 'm'"}}Male{{else}}Female{{/xif}}</td>
            </tr>
            <tr>
                <td><strong class="no-wrap">Designation</strong></td>
                <td>{{designation}}</td>
            </tr>
            <tr>
                <td><strong class="no-wrap">Is Enabled</strong></td>
                <td>{{#if isenabled}}Yes{{else}}No{{/if}}</td>
            </tr>
            <tr>
                <td><strong class="no-wrap">Last Updated</strong></td>
                <td><span class="time-text">{{#humanDate __utclastupdateddate}}{{/humanDate}}</span></td>
            </tr>
            <tr>
                <td colspan="2" class="text-right width100">
                    <a href="/user/edit/{{__id}}" class="btn btn-xs bg-green"><i class="fa fa-pencil margin5-right"></i>Edit </a>
                </td>
            </tr>
        </table>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var $container = $('.leader-board-container'),
                 args = {
                     showActions: true,
                     allowGlobalSearch: true,
                     allowFilters: false,
                     sorting: {
                         sortBy: 'joining_date',
                         ascending: karma.config.sortAscending
                     },
                     filter: {
                     },
                     grid: {
                         allowDetails: true,
                         allowSelect: false,
                         allowGroupSelect: false,
                         columns: [
                             {
                                 dName: 'Name',
                                 binding: 'name',
                                 property: 'firstname',
                                 allowSort: true,
                                 style: '',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'string'
                                 }
                             }, {
                                 dName: 'Birth Date',
                                 binding: 'birthdate',
                                 property: 'birthdate',
                                 allowSort: true,
                                 style: 'width: 160px',
                                 format: 'DD-MMM-YYYY',
                                 type: 'date'
                             }, {
                                 dName: 'Is Enabled',
                                 displayColumn: false,
                                 binding: 'isenabled',
                                 property: 'isenabled',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'boolLabeled',
                                     trueLabel: 'Yes',
                                     falseLabel: 'No'
                                 }
                             }, {
                                 dName: 'Joining Date',
                                 binding: 'joining_date',
                                 property: 'joining_date',
                                 allowSort: true,
                                 style: 'width: 160px',
                                 format: 'DD-MMM-YYYY',
                                 type: 'date',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'date'
                                 }
                             }]
                     }
                 };

        new karma.Views.UserListView(args).render($container);
    });
</script>
