body, .form-control, .btn { font-size: 13px; }
/* Header */
.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover { height: 60px; padding-left: 20px; padding-right: 20px; }
.skin-blue .main-header .navbar { }
    .skin-blue .main-header .navbar .nav > li > a, .skin-blue .main-header .navbar .nav > li > a:hover { padding-top: 20px; padding-bottom: 20px; }
.navbar-nav > .user-menu > .dropdown-menu > li.user-header { height: 186px; }

/* Left Navigation */
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side { background-color: #2E3C49; }
.skin-blue .sidebar-menu > li > a { border-top: 1px solid #536372; color: #f2f4f6; padding: 14px 5px 15px 15px; font-size: 13px; font-weight: 300; }
.skin-blue .sidebar-menu > li a:hover, .skin-blue .sidebar-menu > li.active > a { background-color: #44505C; }
.skin-blue .sidebar-menu > li a > i[class^="icon-"] { color: #85A5BD; margin-right: 8px; font-size: 15px; vertical-align: sub; }
.skin-blue .sidebar-menu > li > a:hover, .skin-blue .sidebar-menu > li.active > a { border-left-color: #69C6FF; }
    .skin-blue .sidebar-menu > li.active > a > i[class^="icon-"] { color: #69C6FF; }
.skin-blue .sidebar-menu > li > a > span { vertical-align: middle; }

.sidebar-menu .treeview-menu > li > a { padding: 8px 8px 8px 20px; font-size: 13px; }
.skin-blue .sidebar-menu > li > .treeview-menu { margin: 8px 0; background-color: transparent; }

.main-header .sidebar-toggle { float: right; padding: 7px; }
.main-sidebar, .left-side { padding-top: 60px; }

.content .box .box-body, .grid-container { min-height: 250px; }

.form-group { margin-bottom: 12px; }
.help-block { margin: 2px; font-size: 0.85em; font-style: italic; }
.has-error .help-block { color: #dd4b39; }
.select2-drop, .select2-container .select2-choice { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

@media (max-width: 767px) {
    .main-header .navbar-custom-menu { float: right; margin-right: -55px; }
    .skin-blue .main-header .navbar .nav > li > a, .skin-blue .main-header .navbar .nav > li > a:hover { padding-bottom: 15px; }
    .main-sidebar, .left-side { padding-top: 118px !important; }
}

.logo h2 { color: white; margin-top: 13px; font-size: 28px; font-weight: 400; }
.karma { color: #FF270B; font-weight: 300; }
.white { color: #fff; }
.no-bg { background-image: none !important; }

.clear { clear: both!important; }

.center { margin: 0 auto!important; }

.nofloat { float: none!important; }

.absolute { position: absolute!important; }

.relative { position: relative!important; }

.noborder { border: 0 none!important; }

.hide { display: none; }

.novis { visibility: hidden; }

.block { display: block!important; }

.inlineblock { display: inline-block!important; }

.inline { display: inline; }

.display-table { display: table; }

.font-8 { font-size: 8px!important; }

.font-9 { font-size: 9px!important; }

.font-10 { font-size: 10px!important; }

.font-11 { font-size: 11px!important; }

.font-12 { font-size: 12px!important; }

.font-13 { font-size: 13px!important; }

.font-14 { font-size: 14px!important; }

.font-15 { font-size: 15px!important; }

.font-16 { font-size: 16px!important; }

.font-17 { font-size: 17px!important; }

.font-18 { font-size: 18px!important; }

.font-19 { font-size: 19px!important; }

.font-20 { font-size: 20px!important; }

.font-22 { font-size: 22px!important; }

.font-24 { font-size: 24px!important; }

.font-normal { font-weight: normal!important; }

.width100 { width: 100%!important; }

.width90 { width: 90%!important; }

.width80 { width: 80%!important; }

.width50 { width: 50%!important; }

.height-inherit { height: inherit!important; }

.nopad { padding: 0!important; }

.pad0 { padding: 0!important; }

.pad5 { padding: 5px!important; }

.pad10 { padding: 10px!important; }

.pad15 { padding: 15px!important; }

.pad20 { padding: 20px!important; }

.pad25 { padding: 25px!important; }

.pad30 { padding: 30px!important; }

.pad0-top { padding-top: 0!important; }

.pad3-top { padding-top: 3px!important; }

.pad5-top { padding-top: 5px!important; }

.pad10-top { padding-top: 10px!important; }

.pad15-top { padding-top: 15px!important; }

.pad20-top { padding-top: 20px!important; }

.pad25-top { padding-top: 25px!important; }

.pad30-top { padding-top: 30px!important; }

.pad0-right { padding-right: 0!important; }

.pad5-right { padding-right: 5px!important; }

.pad10-right { padding-right: 10px!important; }

.pad15-right { padding-right: 15px!important; }

.pad20-right { padding-right: 20px!important; }

.pad25-right { padding-right: 25px!important; }

.pad30-right { padding-right: 30px!important; }

.pad0-bottom { padding-bottom: 0!important; }

.pad5-bottom { padding-bottom: 5px!important; }

.pad10-bottom { padding-bottom: 10px!important; }

.pad15-bottom { padding-bottom: 15px!important; }

.pad20-bottom { padding-bottom: 20px; }

.pad25-bottom { padding-bottom: 25px!important; }

.pad30-bottom { padding-bottom: 30px!important; }

.pad0-left { padding-left: 0!important; }

.pad5-left { padding-left: 5px!important; }

.pad10-left { padding-left: 10px!important; }

.pad15-left { padding-left: 15px!important; }

.pad20-left { padding-left: 20px!important; }

.pad25-left { padding-left: 25px!important; }

.pad30-left { padding-left: 30px!important; }

.nomargin { margin: 0!important; }

.margin0 { margin: 0!important; }

.margin5 { margin: 5px!important; }

.margin10 { margin: 10px!important; }

.margin15 { margin: 15px!important; }

.margin20 { margin: 20px!important; }

.margin25 { margin: 25px!important; }

.margin30 { margin: 30px!important; }

.margin0-top { margin-top: 0!important; }

.margin5-top { margin-top: 5px!important; }

.margin8-top { margin-top: 8px!important; }

.margin10-top { margin-top: 10px!important; }

.margin15-top { margin-top: 15px!important; }

.margin20-top { margin-top: 20px!important; }

.margin25-top { margin-top: 25px!important; }

.margin30-top { margin-top: 30px!important; }

.margin0-right { margin-right: 0!important; }

.margin5-right { margin-right: 5px!important; }

.margin10-right { margin-right: 10px!important; }

.margin15-right { margin-right: 15px!important; }

.margin20-right { margin-right: 20px!important; }

.margin25-right { margin-right: 25px!important; }

.margin30-right { margin-right: 30px!important; }

.margin0-bottom { margin-bottom: 0!important; }

.margin5-bottom { margin-bottom: 5px!important; }

.margin10-bottom { margin-bottom: 10px!important; }

.margin10-bottom-n { margin-bottom: -10px!important; }

.margin15-bottom { margin-bottom: 15px!important; }

.margin20-bottom { margin-bottom: 20px!important; }

.margin25-bottom { margin-bottom: 25px!important; }

.margin30-bottom { margin-bottom: 30px!important; }

.margin0-left { margin-left: 0!important; }

.margin5-left { margin-left: 5px!important; }

.margin10-left { margin-left: 10px!important; }

.margin15-left { margin-left: 15px!important; }

.margin20-left { margin-left: 20px!important; }

.margin25-left { margin-left: 25px!important; }

.margin30-left { margin-left: 30px!important; }

.margin40-left { margin-left: 40px!important; }

.pointer { cursor: pointer; }

.pre-line { white-space: pre-line; }

.text-title-case { text-transform: capitalize; }

.no-wrap { white-space: nowrap; }

input[type="text"].spinner,
input[type="password"].spinner,
input[type="datetime"].spinner,
input[type="datetime-local"].spinner,
input[type="date"].spinner,
input[type="month"].spinner,
input[type="time"].spinner,
input[type="week"].spinner,
input[type="number"].spinner,
input[type="email"].spinner,
input[type="url"].spinner,
input[type="search"].spinner,
input[type="tel"].spinner,
input[type="color"].spinner { background-image: url("../images/spinner.gif") !important; background-repeat: no-repeat; background-position: 99% 8px; }

.loading-message { width: 180px; text-align: center; background-color: #fff; border: solid 1px #ccc; }
    .loading-message .loading-box { display: inline-block; padding: 10px; }
        .loading-message .loading-box img { vertical-align: top; }
/* data table overrides */
table { font-size: inherit; }
.table .btn { margin-top: 0px; margin-left: 0px; margin-right: 5px; }
.table.dataTable { margin-top: 0px !important; }
    .table.dataTable > thead { border: solid 1px #555555 !important; }
    .table.dataTable > tbody { border: 1px solid #dddddd; border-top: none; }
    .table.dataTable .dataTables_empty { text-align: left; }
    .table.dataTable tr.shown td, .table.dataTable tr.shown:hover td { background: #eeeeee; border-color: #bbbbbb; border-style: solid; border-width: 1px 0 1px 0; }
    .table.dataTable div.inner-table-container { background: #eeeeee; border-bottom: 1px solid #bbbbbb; border-top: 1px solid #ffffff; position: relative; margin: -6px; padding: 6px 10px; }
        .table.dataTable div.inner-table-container table.inner-table td { vertical-align: top; padding: 6px 8px; }
    .table.dataTable .row-details { margin-top: 3px; display: inline-block; cursor: pointer; width: 14px; height: 14px; div .data-table-page; }
table.dataTable thead .sorting.bg-dark-gray { background-image: url('../images/sort_both.png') !important; background-position: center right; background-repeat: no-repeat; }
table.dataTable thead .sorting_asc.bg-dark-gray { background-image: url('../images/sort_asc.png') !important; background-position: center right; background-repeat: no-repeat; }
table.dataTable thead .sorting_desc.bg-dark-gray { background-image: url('../images/sort_desc.png') !important; background-position: center right; background-repeat: no-repeat; }
table.dataTable thead .no-bg.bg-dark-gray { background-image: none !important; }
.data-table-container .dataTables_length .form-control .select2-choice { height: 32px; padding: 2px 0 0px 12px; }
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td { padding: 6px; }
.table-condensed > caption + thead > tr:first-child > th, .table-condensed > colgroup + thead > tr:first-child > th, .table-condensed > thead:first-child > tr:first-child > th, .table-condensed > caption + thead > tr:first-child > td, .table-condensed > colgroup + thead > tr:first-child > td, .table-condensed > thead:first-child > tr:first-child > td { border-top: solid 0px #fff; border-bottom: 0px; border-right: 1px solid #dddddd !important; }

.dataTable .row-details.row-details-open { background: url("../img/datatable-row-openclose.png") no-repeat 0 -23px; }
.bg-dark-gray { border-color: #465461 !important; background-image: none !important; background-color: #465461 !important; color: white !important; }

/* filter css */
.filter-section { margin-bottom: 2px; }
    .filter-section .filter-container { min-height: 150px; }
    .filter-section .filter-side button.filter { background: #eeeeee; color: #777777; padding: 13px 20px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border: none; }
    .filter-section .filter-block { background: #eeeeee; display: none; margin-top: 1px; padding: 0px 20px; position: relative !important; margin-bottom: 10px !important; }
        .filter-section .filter-block .filter-thirds > div { border-right: 1px solid #dbdbdb; min-width: 16%; padding: 15px 15px 20px 0px; margin: 0px 0 0px 15px; float: left !important; }
            .filter-section .filter-block .filter-thirds > div:first-child { margin-left: 0px; }
            .filter-section .filter-block .filter-thirds > div ul { list-style: none; margin: 0 !important; padding: 0 !important; }
                .filter-section .filter-block .filter-thirds > div ul li { display: block !important; margin-bottom: 5px !important; }
                    .filter-section .filter-block .filter-thirds > div ul li:first-child { color: #777777; font-size: 14px !important; margin-bottom: 10px !important; }
                    .filter-section .filter-block .filter-thirds > div ul li .checkbox-list, .filter-section .filter-block .filter-thirds > div ul li .radio-list { margin-left: -4px; }
                        .filter-section .filter-block .filter-thirds > div ul li .checkbox-list label, .filter-section .filter-block .filter-thirds > div ul li .radio-list label { color: #777777; font-size: 13px !important; }
.filter-width-225 { width: 225px; min-width: 20%; max-width: 250px; }
.filter-width-180 { width: 180px; min-width: 15%; max-width: 200px; }

/*Input icons*/
.input-icon { position: relative; }
    .input-icon > .form-control { padding-left: 33px; }
    .input-icon > i { color: #ccc; display: block; position: absolute; margin: 10px 2px 4px 10px; z-index: 3; width: 16px; height: 16px; font-size: 16px; text-align: center; }
.modal .input-icon > i { z-index: 10055; }
.has-success .input-icon > i { color: #45b6af; }
.has-warning .input-icon > i { color: #dfba49; }
.has-info .input-icon > i { color: #89c4f4; }
.has-error .input-icon > i { color: #f3565d; }
.input-icon.right > .form-control { padding-right: 33px; padding-left: 12px; }
.input-icon.right > i { right: 8px; float: right; }

/* Default buttons */
.btn { border-width: 0; padding: 7px 14px 7px 10px; font-size: 14px; outline: none !important; background-image: none !important; filter: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
    .btn.dropdown-toggle, .btn-group .btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active { outline: none !important; background-image: none !important; filter: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-shadow: none; }

.btn-block { display: block; width: 100%; padding-left: 0; padding-right: 0; }
.btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.33; vertical-align: middle; }
    .btn-lg > i { font-size: 18px; }
.btn > i { font-size: 14px; }
.btn-sm,
.btn-xs { padding: 4px 10px 5px 10px; font-size: 13px; line-height: 1.5; }
    .btn-sm > i,
    .btn-xs > i { font-size: 13px; }
.btn-xs { padding: 1px 5px; }
    .btn-xs > i { font-size: 12px; }

/* Bootstrap buttons */
.btn-default { border-width: 1px; padding: 6px 13px; color: #333333; background-color: white; border-color: #cccccc; }
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active { color: #333333; background-color: #ebebeb; border-color: #b3b3b3; }
.btn.default { color: #333333; background-color: #e5e5e5; border: none; }

/* Form input sizing */
.input-mini { width: 45px !important; }
.input-xsmall { width: 80px !important; }
.input-small { width: 145px !important; }
.input-medium { width: 240px !important; }
.input-large { width: 320px !important; }
.input-xlarge { width: 420px !important; }
.input-inline { display: inline-block; width: auto; vertical-align: middle; }
.form-group .input-inline { margin-right: 5px; }
.input-sm { height: 28px; padding: 5px 10px; font-size: 13px; }
select.input-sm { height: 28px; line-height: 28px; padding: 2px 10px; }

@media (max-width: 768px) {
    /* 768px */
    .input-large { width: 250px !important; }
    .input-xlarge { width: 300px !important; }
}
/* Input  groups */
.input-group .btn-default { border-color: #e5e5e5; }
.input-group .input-group-addon { border-color: #e5e5e5; background: #e5e5e5; min-width: 39px; }
    .input-group .input-group-addon > i { color: #999999; }
.radio-list > label { display: block; }
.radio-list .icheckbox_minimal-blue, .radio-list .iradio_minimal-blue { background-color: #fff; }
.radio-list .iradio_minimal-blue { -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
