@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section customjs{
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/grid-lib")
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/rewarded-points")
}

@RenderPage("~/Views/Shared/_GridView.cshtml")

<section class="content-header">
    <h1>Karma Points
            <small>Rewarded Points</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-body">
        </div>
    </div>
</section>
<script id="tmplPointListDetailsRow" type="text/template">
    <div class="inner-table-container">
        <table class="inner-table width100">
            <tr>
                <td width="5%"><strong class="no-wrap">Reason</strong></td>
                <td class="pre-line">{{reason}}</td>
            </tr>
            {{#xif "this.moderated_by != '' && this.moderated_by"}}
            <tr>
                <td><strong>Moderated By</strong></td>
                <td>{{moderated_by_name}}</td>
            </tr>
            <tr>
                <td><strong class="no-wrap">Moderation Reason</strong></td>
                <td>{{#xif "this.moderate_reason == '' || !this.moderate_reason "}}NA{{else}}{{moderate_reason}}{{/xif}}</td>
            </tr>
            {{/xif}}
            <tr>
                <td><strong class="no-wrap">Updated On</strong></td>
                <td><span class="time-text">{{#humanDate __utclastupdateddate}}{{/humanDate}}</span></td>
            </tr>
            @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_REWARD) || ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_MODERATE))
            {
                <tr>
                    <td colspan="2" class="text-right width100">
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_REWARD))
                        {
                            <text>
                            {{#if isOwner}}
                                <a href="/karma/edit/{{__id}}" class="btn btn-xs bg-green"><i class="fa fa-pencil margin5-right"></i>Edit </a>
                            {{/if}}
                            </text>
                        }
                        @if (ViewBag.Features.Contains(KarmaRewards.Web.Claims.KARMA_MODERATE))
                        {
                            <a href="/karma/moderate/{{__id}}" class="btn btn-xs bg-green"><i class="fa fa-eye margin5-right"></i>Moderate </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</script>


<script type="text/javascript">
    $(document).ready(function () {

        var $container = $('.box-body'),
                 args = {
                     showActions: true,
                     allowGlobalSearch: false,
                     allowFilters: true,
                     filter: {
                         enabledOnly: true,
                         ownerId: karma.bag.ownerId
                     },
                     grid: {
                         allowDetails: true,
                         allowSelect: false,
                         allowGroupSelect: false,
                         columns: [
                             {
                                 dName: 'Rewarded To',
                                 binding: 'to_name',
                                 property: 'to',
                                 allowSort: false,
                                 style: '',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'string'
                                 }
                             }, {
                                 dName: 'Rewarded By',
                                 binding: 'from_name',
                                 property: 'from',
                                 allowSort: false,
                                 style: '',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'string'
                                 }
                             }, {
                                 dName: 'Points',
                                 binding: 'points',
                                 property: 'points',
                                 allowSort: true,
                                 style: '',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'string'
                                 }
                             }, {
                                 dName: 'Rewarded On',
                                 binding: '__utcdatecreated',
                                 property: '__utcdatecreated',
                                 allowSort: true,
                                 style: 'width: 220px',
                                 format: 'DD-MMM-YYYY',
                                 type: 'date',
                                 filter: {
                                     cssClass: 'filter-width-225 name-filter',
                                     type: 'date'
                                 }
                             }]
                     }
                 };

        new karma.Views.PointListView(args).render($container);
    });
</script>
